# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>

In [1]:
print('Hello World')

Hello World

### Int & Float Assignments

##### Assigning int

In [2]:
# variable_name = value
# Python Standard Naming Convention - all lowercase - snake case - snake_case

my_number = 5 # Assign the value 5 to the variable my_number

print(my_number) # Print the value for the my_number variable
print(type(my_number)) # Print the datatype for the my_number variable

5
<class 'int'>

In [3]:
another_number = 123

print(another_number)
print(type(another_number))

123
<class 'int'>

##### Assinging float

In [4]:
my_float_number = 5.67

print(my_float_number)
print(type(my_float_number))

5.67
<class 'float'>

In [5]:
# The decimal (.) that is doing the heavy lifting - tells Python that is a float

another_float = 6.

print(another_float)
print(type(another_float))

6.0
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [16]:
# Use the plus operator (+)

num1 = 43
num2 = 21

# int + int -> int
# int + float -> float
# float + float -> float

result = num1 + num2

print(result)
print(type(result))

64
<class 'int'>

In [18]:
print(result)

result += 15 # result = result + 15

print(result)

64
79

In [19]:
x = 10

x += 5 # x = x + 5

print(x)

15

##### Subtraction

In [21]:
# Use the minus operator (-)

difference = num1 - num2
print(difference)
print(type(difference))

# Assignment operator (-=)

difference -= 5 # difference = difference - 5
print(difference)

22
<class 'int'>
17

##### Multiplication

In [23]:
# Uses the asterisk or star (*)

product = 12 * 7

print(product)
print(type(product))


# Assignment Operator (*=)

product *= 2 # product = product * 2
print(product)

84
<class 'int'>
168

##### Division

In [25]:
# Use the forward slash (/)

# ALWAYS RESULTS IN A FLOAT!

num3 = 50
num4 = 5

quotient = num3 / num4

print(quotient)
print(type(quotient))

# Assignment Operator (/=)
quotient /= 4 # quotient = quotient / 4
print(quotient)

10.0
<class 'float'>
2.5

##### Floor Division

In [30]:
# Sometimes also referred to as Integer Division

# Floor is defined as the highest integer that is less than or equal to the value

result_normal = 15 / 4
print(result_normal)

# Use the double slash (//)
result_floor = 15 // 4
print(result_floor)


# Assignment Operator (//=)

result_floor //= 2 # result_floor = result_floor // 2
print(result_floor)

3.75
3
1

##### Modulo

In [32]:
# Use the percent operator (%)
# will return the REMAINDER of a division problem

num5 = 48
num6 = 5

result_mod = num5 % num6
print(result_mod)

# Assignment Operator (%=)
result_mod %= 2 # result_mod = result_mod % 2
print(result_mod)

3
1

In [41]:
# determining if a number is even or odd

# If a number is even, number % 2 == 0
# If a number is odd, number % 2 != 0

some_number = 56

print(some_number % 2)

0

##### Exponential

In [45]:
# Use the double-asterisk (**)

num7 = 5
num8 = 4

exponent = num7 ** num8
print(exponent)

# Assignment Operator (**=)

exponent **= 2 # exponent = exponent ** 2
print(exponent)

625
390625

### String Input-Output

##### String Assignment

In [46]:
# variable_name = 'string' - quotation marks ('' or "") tell Python that it is a string

first_name = 'Brian'

print(first_name)
print(type(first_name))

Brian
<class 'str'>

In [47]:
last_name = "Stanton"

print(last_name)
print(type(last_name))

Stanton
<class 'str'>

In [49]:
# Quotation marks are necessary!

wrong = astring

# Python thinks that we are setting a variable `wrong` equal to what the value for
# the variable `astring` which does not exist

NameError: name 'astring' is not defined

In [52]:
me = first_name

print(me)

Brian

##### Escape Characters

In [53]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [56]:
contraction2 = 'You can't do that'
print(contraction2)

SyntaxError: unterminated string literal (detected at line 1) (1937463103.py, line 1)

In [57]:
# backslash before quotation - read it literally
contraction3 = 'You can\'t do that'
print(contraction3)

You can't do that

In [58]:
quote1 = 'He said, "How are you?"'
print(quote1)

He said, "How are you?"

In [59]:
quote2 = "He said, \"How are you?\""
print(quote2)

He said, "How are you?"

In [61]:
# Backlash allows us to write the string on multiple lines and still be read as one line
long_string = 'Hello how are you \
doing today?'

print(long_string)

Hello how are you doing today?

In [62]:
# \n - new line character
multi_line = "Hello\nHow are you?"
print(multi_line)

Hello
How are you?

In [63]:
# \t - tab character
tabbed = 'Hello\tWorld'
print(tabbed)

Hello	World

In [64]:
letter = "Dear Friend,\n\tI hope you are doing well."
print(letter)

Dear Friend,
	I hope you are doing well.

#### Triple Quoted String

In [66]:
# string that starts and ends with 3 quotations (single or double)
# Read line spacing literally

triple = '''This is the first line
This is the second line
And this is the final line'''

print(triple)

This is the first line
    This is the second line
And this is the final line

In [69]:
triple_again = """This is 
another example of
a triple quoted string"""

print(triple_again)

This is
another example of
a triple quoted string

In [71]:
# Raw String - start with r before the quotation marks (r'') or (r"")
# Read string literally - special characters are not special

raw_string = r"Dear Friend,\n\tI hope you are doing well."

print(raw_string)

Dear Friend,\n\tI hope you are doing well.

In [73]:
my_example = r'Brian\b'
print(my_example)

Brian\b

In [75]:
string_number = '123'

print(string_number)
print(type(string_number))

123
<class 'str'>

##### String Concatenation

In [80]:
first = 'John'
last = 'Smith'

# Plus operator (+) between two string -> return a NEW string with the two string combined
full = first + ' ' + last
print(full)

# += works for strings too!
full += ', Jr.' # full = full + ', Jr.'

print(full)

John Smith
John Smith, Jr.

In [81]:
num_a = 10 # integer
num_b = '10' # string

num_c = num_a + num_b
print(num_c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [83]:
num_a = '10' # string
num_b = 10 # integer

num_c = num_a + num_b
print(num_c)

TypeError: can only concatenate str (not "int") to str

##### Type Conversion

In [84]:
print(num_a, type(num_a))
print(num_b, type(num_b))

10 <class 'str'>
10 <class 'int'>

In [86]:
# to convert, pass the value into the built-in type function (usually the name of the class) -> will return a new object
# str for string, int for integers, float for floats, etc.

num_a_as_int = int(num_a)
print(num_a_as_int)
print(type(num_a_as_int))

# Creates new variable and object -> original value does not change
print(num_a, type(num_a))

10
<class 'int'>
10 <class 'str'>

In [87]:
num_c = int(num_a) + num_b

print(num_c)

20

In [88]:
city = 'Chicago'

city_int = int(city)

ValueError: invalid literal for int() with base 10: 'Chicago'

In [91]:
pi = '3.14'

f_pi = float(pi)

print(f_pi)

3.14

In [92]:
string_123 = str(123)
print(string_123, type(string_123))

123 <class 'str'>

##### .format() and f-strings

In [94]:
help(str.format)

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

In [102]:
first_name = 'Tom'
last_name = 'Brady'
city = 'San Francisco'
age = 47

intro_text = "Hello, my name {} {} and I am {} years old and I am from {}".format(first_name, last_name, age, city)

print(intro_text)

Hello, my name Tom Brady and I am 47 years old and I am from San Francisco

In [103]:
# f-string - another fay of formatting a string -> uses curly braces with a variable name in them
# and a lowercase f before the string (f'') or (f"")

intro_text2 = f"Hello, my name is {first_name} {last_name} and I am {age} years old and I am from {city}"

print(intro_text2)

Hello, my name is Tom Brady and I am 47 years old and I am from San Francisco

In [104]:
# .format and f-string allows us to run expression for format our string

add_age1 = f"Hello, I am {first_name.upper()} and in 5 years I will be {age + 5}"
print(add_age1)


add_age2 = "Hello, I am {} and in 5 years I will be {}".format(first_name.upper(), age + 5)
print(add_age2)

Hello, I am TOM and in 5 years I will be 52
Hello, I am TOM and in 5 years I will be 52

##### Old Way (python 2)

In [105]:
print("Hello my name is %s and I am %s" % (first_name, city))

Hello my name is Tom and I am San Francisco

In [106]:
result = 10 + 5

print("The result is %i" % result)

The result is 15

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [107]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'


my_car = "I drive a {} {} {} {}".format(color, int(year) + 1, make, model)
print(my_car)

I drive a blue 2023 Ford Focus

In [108]:
my_car2 = f"I drive a {color} {int(year) + 1} {make} {model}"
print(my_car2)

I drive a blue 2023 Ford Focus

### Booleans

In [109]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [110]:
bool_false = False
print(bool_false)
print(type(bool_false))

False
<class 'bool'>

### If Statements

In [111]:
# if <expression>:   <expression> must result in a boolean (True or False) or object with (Truthy/Falsy) value
#     <statement>

# INDENTATION MATTERS!!!!!!
# All lines that are indented under the if statement will only run if the expression is True

if True:
    print('Hello this is a statement that is being run because the If evaluated to True')

Hello this is a statement that is being run because the If evaluated to True

In [112]:
if False:
    print('Hello this is another statement that will print if evaluated to True')

In [116]:
print('Start code...')

if True:
    print('Hello')
    print('How are you?')
    
print('End code...')

Start code...
Hello
How are you?
End code...

In [127]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)
# Return value is a Boolean (True or False)

num1 = 10
num2 = 5
num3 = 2


print(num1 > num2)
print(num2 < num3)
print(num1 == num2 * num3)
print(num1 >= num2 * num3)
print(num1 <= num2 * num3)
print(num1 != num2)
print(num1 != num2 * num3)

True
False
True
True
True
True
False

In [130]:
if num1 > num2: # True
    print(f"{num1} is greater than {num2}")
    
if num2 < num3: # False
    print(f"{num2} is less than {num3}")
    
if num1 >= num2 * num3: # True
    print(f"{num1} is greater than or equal to {num2} times {num3}")

10 is greater than 5
10 is greater than or equal to 5 times 2

## Using 'and'/'or' with If Statements

In [134]:
# Truth Tree for OR:
# T or T = T
# T or F = T
# F or T = T
# F or F = F

# To pass through to the next round, a students needs at least a 2.5 GPA or at least a 25 ACT

potential_candidate_gpa = 1.0
potential_candidate_act = 10

# Logic for passing a student
if potential_candidate_gpa >= 2.5 or potential_candidate_act >= 25:
    print('Student meets minimum requirements. Move on to the next round...')
else:
    print('Reject student...')

Reject student...

In [138]:
# Truth Tree for AND:
# T and T = T
# T and F = F
# F and T = F
# F and F = F

# To pass through to the next round, a students needs at least a 2.5 GPA AND at least a 25 ACT

potential_candidate_gpa = 2.0
potential_candidate_act = 15

# Logic for passing a student
if potential_candidate_gpa >= 2.5 and potential_candidate_act >= 25:
    print('Student meets minimum requirements. Move on to the next round...')
else:
    print('Reject student...')

Reject student...

In [145]:
number = 5

if number == 1 or number == 7:
    print('The number is 1 or 7')
else:
    print(f"Not 1 or 7, the number is {number}")

Not 1 or 7, the number is 5

In [143]:
number = 10

if number:
    print('This was true')

This was true

### Else Statements

In [154]:
# An else statement runs when the if statement DIRECLTY above it evaluates to False

age = 44

if age >= 35:
    print('You are eligible to run for president')

if age >= 18:
    print('You are eligible to vote')
else:
    print('You are still too young to vote')

You are eligible to run for president
You are eligible to vote

### Elif Statements

In [164]:
# An elif only runs when the if (or elif) directly above it evaluates to False

# Pretend we are checking tickets at the movie theater for an R-Rated movie
# If the movie goer is above 18, just say thanks and enjoy the show
# if the movie goer is above 14, check if they have a parent with them, can see if so
# no movie goers under 14 or under 18 without parent


# rules for entry
required_age = 18
with_parent_age = 14

# Customer Info
customer_age = 16
has_parent = True

if customer_age >= required_age:
    print('Thanks and enjoy the show!')
elif customer_age >= with_parent_age and has_parent:
    print('Cool, enjoy the movie with the folks!')
elif customer_age >= with_parent_age and not has_parent:
    print('You are old enough to see this with a parent, but I do not see one here...')
else:
    print('You cannot see this film until you are older.')

Cool, enjoy the movie with the folks!

In [169]:
age = 10

if age < 18:
    drink_choice = 'toddy'
elif age < 21:
    drink_choice = 'coke'
elif age < 50:
    drink_choice = 'beer'
else:
    drink_choice = 'whiskey'
    
print(f'Drink {drink_choice}')

Drink toddy

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (ages 0-9) are half off. Print out the ticket price at the end</p>

In [185]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
person_age = 8 # Output: Your ticket is $5.00

if person_age < 10:
    ticket *= .5 # ticket = ticket * .5
elif person_age >= 65:
    ticket *= (1-.25)



print(f"Your ticket is ${ticket:.2f}")  # :.2f will add two decimals

Your ticket is $5.00

In [186]:
print(ticket)

5.0

### Lists

##### Declaring Lists

In [187]:
# Ordered collection of data; indexable; mutable; iterable; elements of the list can be of any data type

list_1 = [] # Empty list declation

print(list_1)
print(type(list_1))

[]
<class 'list'>

In [188]:
names = ['Dan', 'Catherine', 'William', 'Laura', 'Hannah', 'Jack']
print(names)
print(type(names))

['Dan', 'Catherine', 'William', 'Laura', 'Hannah', 'Jack']
<class 'list'>

##### Indexing a List

In [206]:
# list_var[start: stop: step] - start is INclusive, stop is EXclusive
# 0-based index (indices will always start at 0 -> length of list - 1)
# Makes a copy, original list is unaffected

# single element - list_var[index]
print(names[3])

# Negative numbers start from the back of the list
print(names[-2])

# Slicing a list -> grabbing part of a list

# Slice the list from the 2nd element to the end (leave the stop empty will default to end of list)
print(names[1:])

# Slice the list from the 2nd element to the 5th element
print(names[1:5])

# Slice from the beginning of the list to the 4th element (leave start empty to start at beginning)
print(names[:4])

# Slice the whole list - an easy way to make a copy of the list
print(names[:])

# Slice every other element in the list
print(names[::2])

# Negative steps will walk backwards through the list - an easy way to make a reversed copy of a list
print(names[::-1])


# Combo time!
print(names[1:5:2])

Laura
Hannah
['Catherine', 'William', 'Laura', 'Hannah', 'Jack']
['Catherine', 'William', 'Laura', 'Hannah']
['Dan', 'Catherine', 'William', 'Laura']
['Dan', 'Catherine', 'William', 'Laura', 'Hannah', 'Jack']
['Dan', 'William', 'Hannah']
['Jack', 'Hannah', 'Laura', 'William', 'Catherine', 'Dan']
['Catherine', 'Laura']

In [208]:
# List are mutable - means you can change the values using item assignment
# item assignment - list_var[index] = value


print(names)

names[2] = 'Billy'

print(names)

['Dan', 'Catherine', 'William', 'Laura', 'Hannah', 'Jack']
['Dan', 'Catherine', 'Billy', 'Laura', 'Hannah', 'Jack']

In [211]:
# Strings are IMMUTABLE - can NOT be changed through item assignment
# But they are indexable

my_string = 'Hello World'
print(my_string)

print(my_string[0])

my_string[0] = 'J'
print(my_string)

Hello World
H

TypeError: 'str' object does not support item assignment

##### .append()

In [213]:
# list_var.append(value) -> Add the value to the end of the list

print(names)

names.append('Sarah')

print(names)

['Dan', 'Catherine', 'Billy', 'Laura', 'Hannah', 'Jack']
['Dan', 'Catherine', 'Billy', 'Laura', 'Hannah', 'Jack', 'Sarah']

##### .insert()

In [214]:
# list_var.insert(index,value) -> Add the value at index and shift everything after to the right 1 index

print(names)

names.insert(2, 'Julian')

print(names)

['Dan', 'Catherine', 'Billy', 'Laura', 'Hannah', 'Jack', 'Sarah']
['Dan', 'Catherine', 'Julian', 'Billy', 'Laura', 'Hannah', 'Jack', 'Sarah']

##### .pop()

In [216]:
# list_var.pop() -> If no argument, pop removes and returns the last element of the list

print(names)

last_element = names.pop()

print(names)

print(f"The element that was removed: {last_element}")

['Dan', 'Catherine', 'Julian', 'Billy', 'Laura', 'Hannah', 'Jack', 'Sarah']
['Dan', 'Catherine', 'Julian', 'Billy', 'Laura', 'Hannah', 'Jack']
The element that was removed: Sarah

In [217]:
# list_var.pop(index) -> will remove the element at index and return that item

second_element = names.pop(1)

print(names)

print(f'The second element: {second_element}')

['Dan', 'Julian', 'Billy', 'Laura', 'Hannah', 'Jack']
The second element: Catherine


##### .remove()

In [218]:
# value to be removed , not index
# list_var.remove(value) -> will remove the FIRST instance of that value

names.remove('Billy')

print(names)

['Dan', 'Julian', 'Laura', 'Hannah', 'Jack']

In [219]:
nums_list = [1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3]

nums_list.remove(2)

print(nums_list)

[1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3]

##### del

In [221]:
# del list_var[index]
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully


print(names)

del names[2]

print(names)

['Dan', 'Julian', 'Laura', 'Hannah', 'Jack']
['Dan', 'Julian', 'Hannah', 'Jack']

In [223]:
del names[4] # Can cause index errors if not careful

IndexError: list assignment index out of range

##### Concatenating Two Lists

In [224]:
# Puls operator (+) between two lists will append two lists together, not add up the elements in each list

list_a = [1, 2, 3, 4]
list_b = [5, 6, 7, 8]

list_c = list_a + list_b


print(list_c)

[1, 2, 3, 4, 5, 6, 7, 8]

##### Lists can hold any datatype

In [225]:
# lists can hold any dataype
# It is *recommended* to only store one datatype in a list
list_of_strings = ['a', 'b', 'c', 'd']
list_of_ints = [1, 2, 3, 4]
list_of_floats = [1.23, 4.56, 7.89]
list_of_bools = [True, False, True, False]
list_of_all = ['a', 1, 2.3, True]

##### Lists Within Lists

In [226]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

print(list_of_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [228]:
for element in list_of_lists:
    print(type(element), element)

<class 'list'> [1, 2, 3]
<class 'list'> [4, 5, 6]
<class 'list'> [7, 8, 9]

In [231]:
list_of_lists[2][0]

7

### For Loops

In [ ]:
# for <keyword> in <iterable>:
#     <statement>

##### Continue Statement

In [ ]:
# will continue to next iteration

##### Break Statement

In [ ]:
# will break out of current loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Nested/Double For Loops

### While Loops

In [232]:
# while <conditional>:
#     <statement to run while condition is true>

from random import randint

In [251]:
random_number = randint(1, 10)
print(f'The starting random number: {random_number}')

while random_number != 5:
    print(random_number)
    random_number = randint(1,10)
    
print(f'The final result: {random_number}')

The starting random number: 10
10
The final result: 5

##### Looping 'While True'

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

In [256]:
x = input('Enter something: ')

print(x, type(x))

Enter something: 10
10 <class 'str'>

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
list_num = []
# 0
# 1
# 8
# 27
# 64
# 125
# 216
# 343
# 512
# 729
# 1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [259]:
# HINT::
# An else after an if runs if the if didnt
# An else after a for runs if the for didnt break

if 10 > 10000:
    print('Hello')
else:
    print('Goodbye')

Goodbye

In [263]:
for x in range(10):
    print(x)
    if x == 50:
        print('Hello')
        break
else:
    print('Goodbye')

0
1
2
3
4
5
6
7
8
9
Goodbye

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>